In [1]:
from pandas import Series, DataFrame
import pandas as pd
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [2]:
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [3]:
fruit.name = 'fruitPrice'
fruit.index.name = 'fruitName'
print(fruit)

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [4]:
fruitData = {'fruitName':['apple','banana','cherry','peer'],
'fruitPrice':[2500,3800,6000,1200],
'num':[10,5,3,8]}

fruitFrame = DataFrame(fruitData)
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [5]:
fruitFrame = DataFrame(fruitData, columns = ['num', 'fruitName', 'fruitPrice'])
print(fruitFrame)

   num fruitName  fruitPrice
0   10     apple        2500
1    5    banana        3800
2    3    cherry        6000
3    8      peer        1200

In [6]:
print(fruitFrame['fruitName'])

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [7]:
fruitFrame['year'] = 2016
print(fruitFrame)

   num fruitName  fruitPrice  year
0   10     apple        2500  2016
1    5    banana        3800  2016
2    3    cherry        6000  2016
3    8      peer        1200  2016

In [8]:
variable=Series([4,2,1], index=[0,2,3])
fruitFrame['stock'] = variable
print(fruitFrame)

   num fruitName  fruitPrice  year  stock
0   10     apple        2500  2016    4.0
1    5    banana        3800  2016    NaN
2    3    cherry        6000  2016    2.0
3    8      peer        1200  2016    1.0

In [14]:
fruit = fruit.drop('banana')
print(fruit)

fruitName
apple     2500
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [21]:
fData = {'fruitName':['apple','banana','cherry','peer'],
'fruitPrice':[2500,3800,6000,1200],
'num':[10,5,3,8]}
fName=fData['fruitName']

fFrame = DataFrame(fData,index = fName,columns=['fruitPrice','num'])
fFrame2=fFrame.drop(['apple','cherry'])

In [22]:
print(fFrame)
print(fruitFrame)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
   num fruitName  fruitPrice  year  stock
0   10     apple        2500  2016    4.0
1    5    banana        3800  2016    NaN
2    3    cherry        6000  2016    2.0
3    8      peer        1200  2016    1.0

In [31]:
#fruitFrame = fruitFrame.drop('stock', axis = 1)
print(fruitFrame)

   num fruitName  fruitPrice  year
0   10     apple        2500  2016
1    5    banana        3800  2016
3    8      peer        1200  2016

In [33]:
print(fruit['peer':'cherry'])
print(fruitFrame)
# 65p

fruitName
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64