### [ 파이썬과 MariaDB 연동 ] 
pymysql 설치

In [ ]:
pip install pymysql

#### DB 연결

In [3]:
import pymysql

# DB 연결 
conn = pymysql.connect(host="127.0.0.1", user="kpc12", password="kpc1212" , db="pydb" , charset="utf8")
cur = conn.cursor()

###### SQL 실행

In [4]:
sql1 ="create table user (id varchar(100) primary key, name varchar(100), password varchar(100) ) DEFAULT CHARSET=utf8 "
cur.execute(sql1)

0

In [5]:
insert_sql1 = "insert into user values ('hong','홍길동','1234')" ;
cur.execute(insert_sql1)

1

In [6]:
insert_sql2 = "insert into user values ('lee','이길동','1234')" ;
cur.execute(insert_sql2)

1

In [7]:
insert_sql3 = "insert into user values ('kim','김길동','1234')" ;
cur.execute(insert_sql3)

1

##### 커밋

In [8]:
conn.commit()

#### select

In [17]:
select_sql = "select * from user " 
cur.execute(select_sql)

3

In [18]:
while(True) :
    row = cur.fetchone() 
    if row==None :
        break; 
    print(row[0], row[1], row[2])

hong 홍길동 1234
kim 김길동 1234
lee 이길동 1234