### [ 파이썬과 MariaDB 연동 ] 
pymysql 설치

In [ ]:
pip install pymysql

#### DB 연결

In [12]:
import #TODO 

# DB 연결 
conn = #TODO   (host="127.0.0.1", user="root", #TODO ,   #TODO , charset="utf8")
cur = #TODO

###### SQL 실행

In [16]:
sql1 ="create table user (id varchar(100) primary key, name varchar(100), password varchar(100) ) DEFAULT CHARSET=utf8 "

In [17]:
#TODO

0

In [19]:
insert_sql1 = "insert into user values ('hong','홍길동','1234')" ;
#TODO

1

In [20]:
insert_sql2 = "insert into user values ('lee','이길동','1234')" ;
#TODO

1

In [1]:
insert_sql3 = "insert into user values ('kim','김길동','1234')" ;
#TODO

##### 커밋

In [22]:
#TODO

#### select

In [26]:
select_sql = "select * from user " 
#TODO

3

In [27]:
while(True) :
    row = #TODO 
    if row==None :
        break; 
    #TODO

hong 홍길동 1234
kim 홍길동 1234
lee 이길동 1234