# 실습) 년도를 입력받아 윤년인지 판별하는 함수 작성
1. 연도 입력
2. 윤년이면 "윤년", 아니면 "평년"

In [11]:
def leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return '윤년'
    else:
        return '평년'

In [12]:
print(leap_year(int(input())))

 3234

평년

In [13]:
year = [1234, 51234, 545]
print(list(map(leap_year, year)))

['평년', '평년', '평년']

In [21]:
arr = []
while True:
    ip = int(input('입력:'))
    if ip == 0:
        break
    print(leap_year(ip))
    #arr[0].append(ip)
    #arr[1].append(leap_year(ip))
    arr.append([ip,leap_year(ip)])
print(arr)

입력: 120

윤년

입력: 2020

윤년

입력: 124

윤년

입력: 135

평년

입력: 0

[[120, '윤년'], [2020, '윤년'], [124, '윤년'], [135, '평년']]

In [24]:
import pandas as pd

pd.DataFrame(arr, columns = ['year', 'leaf'])

   year leaf
0   120   윤년
1  2020   윤년
2   124   윤년
3   135   평년