In [2]:
num = ['one', 'two', 'three', 'four', 5]
type(num)

list

In [3]:
num_tuple = ('one', 'two', 'three', 'four', 5)
print(num_tuple)
print(list(num_tuple))

('one', 'two', 'three', 'four', 5)
['one', 'two', 'three', 'four', 5]

In [4]:
print(num[2], num[2:4])

three ['three', 'four']

In [5]:
num.remove(5)
print(num)
num.append('five')
print(num)
del num[-1]
print(num)

['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four']

In [6]:
num2 = ['five', 'six', 'sevne']
num.extend(num2)
print(num)

['one', 'two', 'three', 'four', 'five', 'six', 'sevne']

In [7]:
num[-1] = 'seven'
print(num)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [8]:
num3 = {'one' : 1, 'two' : 2, 'three' : 3}
print(num3)

{'one': 1, 'two': 2, 'three': 3}

In [9]:
print(num3['one'])

1

In [10]:
num3.update({'four' : 4, 'five' : 5 , 'one' : 2})
print(num3)

{'one': 2, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [14]:
print(num3.keys())
print(num3.values())

dict_keys(['one', 'two', 'three', 'four', 'five'])
dict_values([2, 2, 3, 4, 5])